<p-toolbar>
  <div class="flex justify-between w-full ">
    <div class="flex gap-3 items-center">
      <button (click)="headerService.ActiveSideBar()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <i class="pi pi-bars"></i>
    </button>
    <a href="/">
      <span class="hidden md:block">Learing Managment System</span>
      <span class="block md:hidden">LMS</span>
    </a>
    </div>

    <div class="flex gap-3 items-center">
      <div><button class="w-8 h-8 flex justify-center items-center border rounded-sm border-gray-400"
          (click)="themeService.toolbarToggle()"><i class="pi"
            [ngClass]="themeService.getThemeMode()?'pi-moon':'pi-sun'"></i></button></div>
      <div class="hidden md:block">
        <span>{{'servertimeKey'|transloco}}: </span> {{signalRService.date|date:'H:mm ,dd:MM:yyyy'}}</div>
      <div class="block md:hidden">{{signalRService.date |date:'hh:mm'}}</div>
    </div>
  </div>
</p-toolbar>

<app-side-bar></app-side-bar>