################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Test/Test.API/FileDirectory/2025/3/5
