:host {
  ::ng-deep .p-datatable {
    display: flex;
    flex-direction: column;
    height: 88vh;

    .p-datatable-header {
      flex: 0;
    }

    .p-datatable-wrapper {
      flex: 1;
    }

    p-paginator {
      flex: 0;
    }
  }
}